.slides {
    overflow: hidden;
    overflow-x: hidden;
}

.slides-container {
    width: 600vw;
    display:flex;
    overflow: hidden;
    overflow-x: hidden;
}

.slide {
    width: 100vw;
    height: 96vh;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
}

.prev {
    all: unset;
    cursor: pointer;
    size: fit-content;
    position:relative;
    z-index:20;
    bottom: -75%;
    left:-45%;
 
}

.next {
    all: unset;
    cursor: pointer;
    position: relative;
    z-index:20;
    bottom: -75%;
    right:-45%;
    transition: 2s;
   
}

/* .next:hover {
    display: block;
}

.prev:hover {
    display: block;
} */

/* .next:active {
    display: none;
    transition: transform forwards;
    transform: translateY(400px); 
} */




/* .next:active ~ .slide {
    transform: translateX(-100vw);
} */

#slide-1 {
    background-color: aqua;
}
#slide-2 {
    background-color: red;
}
#slide-3 {
    background-color: blue;
}
#slide-4 {
    background-color: yellowgreen;
}
#slide-5 {
    background-color: grey;
}
#slide-6 {
    background-color: orangered;
}
