.slides {
    overflow: hidden;
    overflow-x: hidden;
}

.slides-container {
    width: 600vw;
    display:flex;
    overflow: hidden;
    overflow-x: hidden;
}

.slide {
    width: 100vw;
    height: 96vh;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
}
.slide:hover .prev {
    display:block;
}

.slide:hover .next {
    display:block;
}

.prev {
    scroll-behavior: smooth;
    position:absolute;
    z-index:20;
    bottom: 30px;
    left:30px;
    display: none;
}

.next {
    scroll-behavior: smooth;
    position: absolute;
    z-index:20;
    bottom: 30px;
    right:30px;
    transition: 2s;
    display: none;
}

.next:active ~ .slide {
    transform: translateX(-100vw);
}

#slide-1 {
    background-color: aqua;
}
#slide-2 {
    background-color: red;
}
#slide-3 {
    background-color: blue;
}
#slide-4 {
    background-color: yellowgreen;
}
#slide-5 {
    background-color: grey;
}
#slide-6 {
    background-color: orangered;
}

.animated-text tspan {
    opacity: 0;
    animation: slide-in 1s ease forwards;
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  