.animation-trigger {
  height: 1px;
  visibility: hidden;
}

.animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: example 1s forwards;
  animation-play-state: paused;
}

@keyframes example {
  from {left: 0;}
  to {left: 100px;}
}

.animation-trigger ~ .animation {
  animation-play-state: running;
}
