/* Este es el código para la animación del elemento SVG para la introducción a la página en el index.html*/
@keyframes grow {
    0% {
      opacity: 0;
      transform: scale(0);
      
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes pasiones-animation {
  0% {
      transform: scale(1.2,1.2) translateX(0vw) translateY(-5vh) rotate(-15deg);
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(5vw) translateY(-5vh);
  }
}

@keyframes dreamjob-animation {
  0% {
      transform: scale(1.2,1.2) rotate(15deg) translateY(-34vh) translateX(54vw);
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(10vw) translateY(-5vh);
  }
}

@keyframes IA-animation {
  0% {
      transform: scale(1.2,1.2) rotate(-15deg) translateY(-5vh);;
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(5vw) translateY(-5vh);
  }
}

@keyframes referencias-animation {
  0% {
      transform: scale(1.2,1.2) rotate(15deg) translateY(-32vh) translateX(54vw);
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(10vw) translateY(-5vh);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(2);
    opacity:0;
  }
  100% {
    opacity:1;
    transform: scale(1) translateY(-10vh);
   
  }
}

@keyframes cv-animation {
  0% {
      transform: scale(0.5,0.6) translateX(55vw) translateY(30vh) rotate(17deg);
  }
  100% {
      transform: rotate(0deg) scale(1,1) translateX(0vw) translateY(-5vh);
  }
}

svg {
    width: 500px;
    height: 500px;
}

#intro-animation {
    width: 60vw;
    height: 60vw;
}

#index {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
 
.svg-container {
width: 500px;
height: 500px;
overflow: hidden;
}

.svg-container svg {
width: 100%;
height: 100%;
fill: currentColor;
animation: grow 5s ease-in-out forwards;
}