/* Este es el código para la animación del elemento SVG para la introducción a la página en el index.html*/
@keyframes grow {
    0% {
      opacity: 0;
      transform: scale(0);
      
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes pasiones-animation {
  0% {
      transform: scale(1.2,1.2) translateX(0vw) translateY(-5vh) rotate(-15deg);
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(5vw) translateY(-5vh);
  }
}

@keyframes dreamjob-animation {
  0% {
      transform: scale(1.2,1.2) rotate(15deg) translateY(-34vh) translateX(54vw);
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(10vw) translateY(-5vh);
  }
}

@keyframes IA-animation {
  0% {
      transform: scale(1.2,1.2) rotate(-15deg) translateY(-5vh);;
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(5vw) translateY(-5vh);
  }
}

@keyframes referencias-animation {
  0% {
      transform: scale(1.2,1.2) rotate(15deg) translateY(-32vh) translateX(54vw);
  }
  100% {
      transform: rotate(0deg) scale(5,4) translateX(10vw) translateY(-5vh);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(2);
    opacity:0;
  }
  100% {
    opacity:1;
    transform: scale(1) translateY(-10vh);
   
  }
}

@keyframes cv-animation {
  0% {
      transform: scale(0.5,0.6) translateX(55vw) translateY(30vh) rotate(17deg);
  }
  100% {
      transform: rotate(0deg) scale(1,1) translateX(0vw) translateY(-5vh);
  }
}

@keyframes TUP-animation {
  0% {
    transform: scale(8) translateY(15vh);
    opacity: 0;
    background-color: #0000;
  }

  100% {
    opacity: 1;
    transform: scale(2) translateY(20vh);
    background-color: #071a38d8;
  }
}



#intro-animation {
    width: 60vw;
    height: 60vw;
}

#index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    overflow: hidden;
}

#index .background {
  top: -20vh;
  width:102vw;
}

#TUP {
  padding: 1%;
  border-radius: 1vw;
  min-width:fit-content;
  animation: TUP-animation 8s forwards;
}

.TUP {
  all: unset;
  cursor: pointer;
  color: var(--color_3);
  transition: 2s;
  
}

.TUP:hover {
  
  transform: scale(1.1) translateY(-5vh);
}
 
