.flip-card-section {
    padding-left:5%;
    padding-right:5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .flip-card-section#dreamjob {
    flex-direction: row;
  }
  
  .flip-card {
    width: 18.8vw;
    height: 26.5vw;
    perspective: 1000px;
    margin: 10px;
    
  }

  .flip-card.dreamjob {
    width:28vw;
    height: 20vw;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: none;
  }

  .main-picture {
    width: 80%;
  }
  
  .flip-card-back {
    background-color: var(--color_7);
    transform: rotateY(180deg);
  }
  
  .flip-card img {
    width: 100%;
    height: 100%;
  }

  .flip-card.dreamjob img {
    height: 80%;
    border-radius: 0vw 0vw 2vw 2vw;
  }
  
  .flip-card p {
    font-size: 18px;
    padding: 20px;
  }

  #dreamjob .flip-card-front {
    background-color: var(--color_7);
    border-radius: 2vw;
  }

   #dreamjob .flip-card-back {
    background-color: var(--color_7);
    border-radius: 2vw;
  }

  #departamento .flip-card-back * {
    padding:2%;
    font-size: 98%;
  }
