#hobbies-glry {
  margin-left: 20vw;
  position: absolute;
  top: 11vh;
  
}

.gallery {
    background-color: var(--color_6);
    display:grid;
    grid-template: 5px 1fr 5px / 5px repeat(3,1fr 5px) 5px;
    padding:5px;
    width: 60vw;
    overflow: hidden;
}

.gallery-picture {
    grid-column-end: span 1;
    grid-row-end: span 3;
    margin: 5px;
    width:20vw;
    height: auto;
    -ms-grid-column-span: 2;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    overflow:hidden;
    overflow-x: hidden;


}



.gallery-image-container {
  grid-column-end: span 2;
  grid-row-end: span 3;
  fill:rgb(174, 17, 17);
  width: 20vw;
  height: 75vh;
  overflow: hidden;
  overflow-x: hidden;
}

.gallery-image-container:hover .gallery-picture {
  transform: scale(1.2);
}


#gic1 {
  z-index: 1;
}

.ai-gallery {
  margin:2vw;
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  width:30vw;
  transition: transform 1s;
  background-color: var(--color_0);
  border-radius: 0vw 0vw 2vw 2vw;
  text-align: center;
}

.img-container img {
  width:30vw;
}

.img-container:hover {
  transform: scale(1.2);
}