/**Etiqueta html, que afectará a toda la página.
Aquí se almacenarán las variables globales que se usarán en todo el código HTML.
Esto me permitirá guardar una línea de diseño más fácilmente.
*/
* {
    /* --color_0: rgb(0,0,0);
    --color_1: rgb(180,0,0);
    --color_2: rgb(0,100,0);
    --color_3: rgb(0,0,160);
    --color_4: rgb(230,230,0);
    --color_5: rgb(255,255,255); */

    /* Warm sunrise */
    --color_0: #051626;
    --color_1: #cfc9c1;
    --color_2: #051626;
    --color_3: #bdfaff;
    --color_4: #46433f;
    --color_5: #cfc9c1;
     --color_6: rgb(21, 10, 31);
     --color_7: #051626;

    /* Blue Sunrise*/
    /* --color_0: #F6D2B6; 
    --color_1: #F6B9A7; 
    --color_2: #F69C9D;
    --color_3: #F6737E; 
    --color_4: #F6536B;
    --color_5: rgb(255,255,255);
    --color_6: rgb(6, 46, 84); */

    /* Blue Sky Sunrise */
    /* --color_0: #E5F5FF; 
    --color_1: #C8E0FF; 
    --color_2: #FFCCE5;
    --color_3: #F6737E; 
    --color_4: #FF809E;
    --color_5: rgb(255,255,255);
    --color_6: rgb(6, 46, 84); */

    /* #E5F5FF (Baby Blue)
#C8E0FF (Powder Blue)
#FFCCE5 (Pale Pink)
#FFA3C4 (Pale Magenta)
#FF809E (Pale Red) */
font-family: 'Lora', Serif;
}

body {
    background-color: var(--color_6);
    color: var(--color_3);
    overflow-x: hidden;
}


p {
    line-height: 1.5;
}

/*-------------------------------------------------------------Aquí Comienza el Main-----------------------------------------------------*/
main {
    /* background-color: var(--color_6); */
    width: 99vw;
    
    margin-top: 67px;
    /* padding: 10px; */
}

footer {
    background-color: coral;
}
/*--------------------------Sobre Mí----------------------------------*/
section {
    display: flex;
    justify-content: space-evenly;
}
article {
    text-align: center;
}

article ul {
    transition: 1s;
    display: none;
}

article:hover ul {
    display: block;
}

.background {
    /* display:contents; */
    position: absolute;
    top: -80px;
    left: -15px;
    width: 100vw;
    z-index: -4;
    overflow:hidden;
}

.global-animation-container {
    animation: bounceIn 3s ease-in-out;
}

#bienvenido {
    font-size: 5vw;;
    color:rgb(6, 46, 84);
    position: absolute;
    top: 20vh;
    left: 25vw;
    cursor:default;
    text-shadow: 2px 2px 2px #444c5385;
}

#bienvenido span:hover {
    transition: 0.5s;
    color: var(--color_3);
}

.cover-image {
    margin: 0vw 2vw 0vw 2vw;
    width: 94%;
}

area {
    cursor: pointer;
}

main > h2 {
    text-align: center;
}

main > p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
}

.imagenes-texto {
    display: flex;
    justify-content: space-around;
}

main .goto {
    all:unset;
    cursor:pointer;
    transition:1s;
}

main .goto:hover {
    font-size: larger;
}

hr {
    margin:5%;
    color: var(--color_3);
}

pre {
    padding:5%;
    background-color: rgb(22, 22, 22);
    color:white;
    text-align: left;
}




