/**Etiqueta html, que afectará a toda la página.
Aquí se almacenarán las variables globales que se usarán en todo el código HTML.
Esto me permitirá guardar una línea de diseño más fácilmente.
*/
html {
    /* --color_0: rgb(0,0,0);
    --color_1: rgb(180,0,0);
    --color_2: rgb(0,100,0);
    --color_3: rgb(0,0,160);
    --color_4: rgb(230,230,0);
    --color_5: rgb(255,255,255); */

    /* Warm sunrise */
    /* --color_0: #FEDC97;
    --color_1: #FEB144;
    --color_2: #FEA12E;
    --color_3: #FF8C42;
    --color_4: #FF5233;
    --color_5: rgb(255,255,255); */

    /* Blue Sunrise*/
    --color_0: #F6D2B6; 
    --color_1: #F6B9A7; 
    --color_2: #F69C9D;
    --color_3: #F6737E; 
    --color_4: #F6536B;
    --color_5: rgb(255,255,255);

    /* --color_0: #E5F5FF; 
    --color_1: #C8E0FF; 
    --color_2: #FFCCE5S;
    --color_3: #F6737E; 
    --color_4: #F6536B;
    --color_5: rgb(255,255,255); */

    /* #E5F5FF (Baby Blue)
#C8E0FF (Powder Blue)
#FFCCE5 (Pale Pink)
#FFA3C4 (Pale Magenta)
#FF809E (Pale Red) */

}

body {
    background-color: var(--color_0);
    color: var(--color_2);
}
aside {
    background-color:aqua;
}

#index {
    background-image: url("../img/background.jpeg");
}

/*-------------------------------------------------------------Aquí Comienza el Main-----------------------------------------------------*/
main {
    background-color: cadetblue;
    width: 99vw;
    
    margin-top: 67px;
    /* padding: 10px; */
}

footer {
    background-color: coral;
}
/*--------------------------Sobre Mí----------------------------------*/
section {
    display: flex;
    justify-content: space-evenly;
}
article {
    text-align: center;
}

article ul {
    transition: 1s;
    display: none;
}

article:hover ul {
    display: block;
}

.CV_Cards-container {
    justify-content: space-evenly;
}

.card {   
    padding-top: 0.5%;
    width: 100px;
    height: fit-content;
    border: 5px solid var(--color_1);
    transition:0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:80%;
}


.card:hover {
    width:700px;
    height:fit-content;
    min-height: 450px;
    z-index: 15;
    display: ruby;
    display:block;
}

.card:hover .picture {
    z-index: -3;
    opacity: 0.5;
}

.card .picture {
    width: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius:1vh;
    transition: 3s;
}

.book .picture {
    margin-top: 2%;
    width: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius:1vh;
    transition: 3s;
}

.container {
    position: relative;
}
  
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color:white;
}

    /*-----------------------------------------------------------------------Código para las tarjetas reversibles-----------------------------------------------------*/
.book {
    width: 100px;
    height: 200px;
    border: 5px solid var(--color_1);
    transition:0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:80%;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.book:hover {
    transform: rotateY(180deg);
    width:700px;
    height:fit-content;
    min-height: 450px;
    z-index: 15;
    display: ruby;
    display:block;
}

.book-front, .book-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.book-front {
    background-color: #f8f8f868;
}

.book-back {
    transform: rotateY(180deg);
}

.book-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
}