/* Elemento Header */
header {
    position: fixed;
    max-height: 67px;
    background-color: var(--color_2);
    color: var(--color_4); 
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    z-index:20;
    opacity: 1;
    transform: translateX(90vw);
    transition: transform 0.5s ease-in-out;
    border-radius: 0vw 0vw 0vw 2vw;
}

header:hover {
    transform: translateX(5vw);
    opacity: 1; 
    max-height: 80px;
}

/*Contenedores dentro del header*/
header div {
    display: flex;
    justify-content: center;
}

/*Contenedor y elementos en la parte del logo (Parte derecha del header)*/
.logo {
    display: flex;
    justify-content: left;
    max-width: 25vw;
    transition: 0.5s;
}
.logo:hover {
    font-size: larger;
    cursor: pointer;
}

#logo {
    margin-left:5%;
    margin-right:15%;
    transition: 2s;
}

/*Contenedor para el título central de la página*/
.title {
    display: flex;
    justify-content: left;
    max-width: 10vw;
    transition: 0.5s;
}
.title:hover {
    font-size: larger;
}

header div h2 {
    font-weight: 100;
    font-size: 110%;
}


/*El enlace a la página index.html*/
header h2 a {
    all: unset;
    cursor: pointer;
}

/*El contenedor para el menú de navegación del Header*/
nav {
    display:flex;
    justify-content: flex-end;
    min-width:80vw;
}


/* Enlaces que van a servir para navegar entre las diferentes páginas.*/
nav a {
    all:unset;
    transition: 0.5s;
    text-align: center;
    color: var(--color_5);
    /* background-color: var(--color_4);   */
    /* border: 2px solid var(--color_4); */
    border-radius: 2%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1.5%;
    top: 0;
    margin: 0;
    
    
}

nav a:hover {
    background-color: var(--color_3);
    font-size: larger;
    cursor: pointer;
}