
.card-tab {
    margin:none;
    padding-left:2.5%;
    padding-right: 2.5%;
    font-size: 0.9rem;
    text-align: center;
    width: 10vw;
    height: 5vh;
    min-width: 8vw;
    max-width: 9.5vw;
    border-radius: 1.5vw 1.5vw 0vw 0vw;
    background-color: var(--color_0);

}

.homecard-left {
    margin: 5%;
    width:10vw;
    display: block;
    padding:none;
    border-radius: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    transform:rotate(-15deg) translateY(-5vh);
}

.homecard-left .card-frame {
    min-width: 10vw;
    height: 25vh;
    background-color: var(--color_0);
    overflow: hidden;
    border-radius: 0vw 0vw 2vw 2vw;
}

.homecard-left:hover {
    position: sticky;
    top: 200px;
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
    justify-content: space-between;
    animation-fill-mode: both;
    transition: 4s tra;
    border: none;
}

.homecard-left .gallery-picture {
    width:3vw;
    height: 25vh;
}

.homecard-left .gallery-image-container {
    width: 100%;
    height: 25vh;
    transform:translateX(-18%);
}

.homecard-left#pasiones {
    width: 10vw;
}


#pasiones .gallery {
    width:100%;
    height: 25vh;
    border-radius: 0vw 0vw 2vw 2vw;
    background: var(--color_6);
}

#homegallery {
    width: 10vw;
    height: 25vh;
}

.homecard-right {
    margin: 5%;
    width:10vw;
    display: block;
    padding:none;
    border-radius: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    /* transform:rotate(15deg) translateY(-5vh) translateX(65vw); */
}

.homecard-right .card-frame {
    min-width: 10vw;
    height: 25vh;
    background-color: var(--color_0);
    overflow: hidden;
    border-radius: 0vw 0vw 2vw 2vw;
}

.homecard-right:hover {
    position: sticky;
    top: 200px;
    animation: homecard-right-animation 4s forwards;  
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
    justify-content: space-between;
    animation-fill-mode: both;
    transition: 4s forwards;
    border: none;
}

.homecard-image {
    width:10vw;
    height:15vw;
}

#dreamjob {
    margin: 5%;
    width:10vw;
    display: block;
    padding:none;
    border-radius: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    transform:rotate(15deg) translateY(-40vh) translateX(65vw);
}

#dreamjob:hover {
    transition: 4s;
    animation: dreamjob-animation 4s forwards;
}

#pasiones:hover {
    animation: pasiones-animation 4s forwards;  
}

#AI:hover {
    animation: IA-animation 4s forwards;
}

#referencias {
    margin: 5%;
    width:10vw;
    display: block;
    padding:none;
    border-radius: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    transform:rotate(15deg) translateY(-40vh) translateX(65vw);
}

#referencias:hover {
    animation: referencias-animation 4s;
}




