@keyframes homecard-left-animation {
    0% {
        transform: scale(1,1) translateX(0vw) translateY(-5vh) rotate(-10deg);
    }
    100% {
        transform: rotate(0deg) scale(5,4) translateX(5vw) translateY(-5vh);
    }
}

@keyframes homecard-right-animation {
    0% {
        transform: scale(1,1) rotate(10deg) translateY(-5vh) translateX(65vw);
    }
    100% {
        transform: rotate(0deg) scale(5,4) translateX(10vw) translateY(-5vh);
    }
}

.card-tab {
    margin:none;
    padding-left:2.5%;
    padding-right: 2.5%;
    font-size: 0.9rem;
    text-align: center;
    width: 10vw;
    height: 5vh;
    min-width: 8vw;
    max-width: 9.5vw;
    border-radius: 1.5vw 1.5vw 0vw 0vw;
    background-color: var(--color_0);

}

.homecard-left {
    margin: 5%;
    width:10vw;
    display: block;
    padding:none;
    border-radius: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    transform:rotate(-10deg) translateY(-5vh);
}

.homecard-left .card-frame {
    min-width: 10vw;
    height: 25vh;
    background-color: var(--color_0);
    overflow: hidden;
    border-radius: 0vw 0vw 2vw 2vw;
}

.homecard-left:hover {
    position: sticky;
    top: 200px;
    animation: homecard-left-animation 4s;  
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
    justify-content: space-between;
    animation-fill-mode: both;
    transition: 4s ;
    border: none;
}

.homecard-left .gallery-picture {
    width:3vw;
    height: 25vh;
}

.homecard-left .gallery-image-container {
    width: 100%;
    height: 25vh;
    transform:translateX(-18%);
}

.homecard-left#pasiones {
    width: 10vw;
}

.homecard#pasiones:hover {
     
}

#pasiones .gallery {
    width:100%;
    height: 25vh;
    border-radius: 0vw 0vw 2vw 2vw;
    background: var(--color_6);
}

#homegallery {
    width: 10vw;
    height: 25vh;
}

.homecard-right {
    margin: 5%;
    width:10vw;
    display: block;
    padding:none;
    border-radius: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    transform:rotate(10deg) translateY(-5vh) translateX(65vw);
}

.homecard-right .card-frame {
    min-width: 10vw;
    height: 25vh;
    background-color: var(--color_0);
    overflow: hidden;
    border-radius: 0vw 0vw 2vw 2vw;
}

.homecard-right:hover {
    position: sticky;
    top: 200px;
    animation: homecard-right-animation 4s;  
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
    justify-content: space-between;
    animation-fill-mode: both;
    transition: 4s ;
    border: none;
}

.homecard-image {
    width:10vw;
    height:15vw;
}

/* .homecard:hover .card-tab {

}

.homecard:hover .card-frame {
    
} */


/*
.homecard#dreamjob {

}

.homecard#dreamjob:hover {
    
}

.homecard#AI {

}

.homecard#AI:hover {
    
}

.homecard#referencias {

}

.homecard#referencias:hover {
    
} */



