#soundcloud {
    width: 20vw;
    height: 20vw;
}

#sc-div {
    display:block;
    font-size: 10px;
    color: #b41111;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

#sc-div > * > a {
    color: #de1919;
    text-decoration: none;
}

.spotify {
    width: 19vw;
    height: 24vw;
}

.youtube {
    width: 30vw;
    height: 20vw;
}

.spotify-elements {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textoJazz {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 2vw;
    padding:3%;
}

.textoJazz article p {
    font-size: 1.5vw;
    text-align: justify;
    max-width: 66ch;
}

.textoJazz  li {
    text-align: justify;
    margin: 10px;
    max-width: 66ch;
    font-size:1.5vw;
}

.jazz {
    display:flex;
    justify-content: space-around;
    font-size: large;
    max-width: 90vw;
}

