.text {
    display: block;
    text-align: center;
    padding-top:none;
    padding-bottom: none;
}

#jesus-titulocentral {
    display:block;
    text-align: center;
    /* margin:20vw; */
}

#apartados a {
    all: unset;
    cursor: pointer;
    transition: 2s; 
}

#apartados {
    justify-content: center;    
}

#apartados h1 {
    margin: 5vw;
}

#menuconsiste {
    transform: rotate(-20deg);
}

#menutu {
    transform: rotate(20deg);
}

.text-slide {
    width: 100vw;
    min-height: 30vw;
    left: 0px;
    background-color: black;
    border: 1px solid red;
    overflow-x: hidden;
     /* padding-left: 5%;
    padding-right: 5%; */
}

.text h2 {
    cursor:default;
}

.text p {
   font-size: 2vw;
   animation: text-left 1s ease-in-out;
   animation-play-state: paused;
   padding: 5%;
}
.text h2:hover + .text-slide > p {
    animation-play-state:running;
    animation-fill-mode:forwards;
    
}
.text-slide:hover > p {
    animation-play-state:running;
    animation-fill-mode:forwards;
}

.text .text-slide:hover + .text-slide > p  {
    animation-play-state:running;
    animation-fill-mode:forwards;
}

.text p:hover  p {
    animation-play-state:running;
    animation-fill-mode:forwards;
}

.text p:hover {
    animation-play-state:running;
    animation-fill-mode:forwards;
}



@keyframes text-left {
    0% {
        opacity:0;
        transform: translateX(-50vw);
    }

    60% {
        transform: translateX( 10vw);
    }

    80% {
        transform: translateX(-5vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}