.referencia {
    margin: 5vw;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--color_0);
    font-size: large;
    border-radius: 2vw;
    transition: transform 1s;
}

.referencia:hover {
    transform: scale(1.1);
}

.referencia img {
    width: 225px;
    border-radius: 2vw 0vw 0vw 2vw;
}

.referencia .reftext {
    text-align: justify;
    
    padding: 2vw;
}



main a {
    all: unset;
    cursor: pointer;
    transition: transform 1s;
}

main a:hover {
    transform: scale(1.1);
}