@keyframes bounceIn {
    0% {
      transform: scale(2);
      opacity:0;
    }
    100% {
      opacity:1;
      transform: scale(1) translateX(0px);
     
    }
}

@keyframes cv-animation {
    0% {
        transform: scale(0.5,0.6) translateX(55vw) translateY(30vh) rotate(17deg);
    }
    100% {
        transform: rotate(0deg) scale(1,1) translateX(0vw) translateY(-5vh);
    }
}

/* Contenedor del elemento tab-frame  */
.tab-frame {
    margin: 5%;
    width:fit-content;
    display: block;
    padding:none;
    /* border: 1px solid black; */
    border-radius: 4vw 4vw 4vw 4vw;
    box-shadow: 5px 5px 5px rgba(14, 0, 45, 0.658);
    
    /* pointer-events: none; */
}

#cv {
    transform: scale(0.35,0.4) translateX(180vw) translateY(70vh) rotate(20deg);
}

#cv:hover {
    animation: cv-animation 2s ease-out forwards;
}

/* Al hacer hover sobre el elemento tab-frame */
.tab-frame:hover {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    animation-fill-mode: both;
    transition: 4s ;
    border: none;
    
}


.tab-frame .tab h2 {
    font-size: 1rem;
}

.tab-frame:hover .tab {
    display: flex;
}
/* Clase para las pestañas*/
.tab {
    display:none;
    margin:none;
    padding-left:2.5%;
    padding-right: 2.5%;
    font-size: 1rem;
    text-align: center;
    width: 15%;
    max-height: 10vh;
    background-color: var(--color_0);
}


/* Hover para las pestañas */
.tab:hover {
    background-color: antiquewhite;
}

/* El Frame que se muestra al hacer el respectivo hover. */
.tab:hover + .frame {
    display:flex;
}

/* Esto debería hacer que .resumen no se vea al hacer hover sobre una pestaña*/
.tab:hover ~ .default {
    display: none;
}

#t0:hover ~ .default {
    display: flex;
}

#t0 {
    border-radius: 20vw 0vw 0vw 0vw;
}

#t4 {
    border-radius: 0vw 20vw 0vw 0vw;
}

.frame:hover ~ .default {
    display: none;
} 

/* Para todos los frames igual */
.frame {
    min-width: 100%;
    min-height: 500px;
    display: none;    
}

/* Para que el frame se siga viendo al pasar el ratón por encima */
.frame:hover {
    display:flex;
    justify-content: felx-start;
}

/* Default frame */
.default {
    display: flex;
    max-width: 100%;
    min-height: fit-content;
    order: 3;
    background-color: rgb(22, 57, 69);
    border-radius: 0vw 0vw 4vw 4vw;
}

.tab-frame:hover .default {
    min-width: 100%;
}

.frame {
    min-width: 100%;
    max-width: 100%;
    background-color: rgb(22, 57, 69);
    border-radius: 0vw 0vw 4vw 10vw;
    order: 3;
}

.frame-text {
    padding:2%;
}

.picture {
    max-width: 30vw;
    border-radius: 0vw 0vw 4vw 4vw;
}

.tab-frame:hover .picture {
    border-radius: 0vw 0vw 0vw 4vw;
}

.frame:hover ~ #cover{
    display:none;
}

.tab:hover ~ #cover{
    display:none;
}

#cover {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 95%;
    max-height: 14vh;
    font-size: 2rem;
    
    border-radius: 4vw 4vw 0vw 0vw;
}

#cover:hover ~ .default {
    display: flex;
}

#cover h1 {
    /* margin-top: -0.1vh; */
    transform: translateY(10%);
}

.tab-frame:hover #cover {
    display:none;
}

#sect-resumen {
    display:none;
}

.tab-frame:hover #sect-resumen {
    display:flex;
}
