/* Contenedor del elemento tab-frame  */
.tab-frame {
    margin: 5%;
    flex-flow: wrap;
    justify-content: flex-start;
    padding:none;
}

/* Clase para las pestañas*/
.tab {
    margin:none;
    padding-left:2%;
    font-size: 90%;
    max-width: 30vw;
    max-height: 10vh;
    background-color: var(--color_0);
}

/* Hover para las pestañas */
.tab:hover {
    background-color: antiquewhite;
}

/* El Frame que se muestra al hacer el respectivo hover. */
.tab:hover + .frame {
    display:inline-block;
}

/* Esto debería hacer que .resumen no se vea al hacer hover sobre una pestaña*/
.tab:hover ~ .default {
    display: none;
}

#t0:hover ~ .default {
    display: inline-block;
}

.frame:hover ~ .default {
    display: none;
} 

/* Para todos los frames igual */
.frame {
    min-width: 90vw;
    min-height: 500px;
    display: none;    
}

/* Para que el frame se siga viendo al pasar el ratón por encima */
.frame:hover {
    display:inline-block;
}

/* Default frame */
.default {
    min-width: 90 vw;
    min-height: 500px;
    order: 3;
    background-color: rgb(97, 213, 255);
}
.frame {
    background-color: rgb(22, 57, 69);
    order: 3;
}

/* Frame nº 1. Rojo */
/* #f1 {
    background-color: rgb(97, 213, 255);
    order: 3;
} */

/* Frame nº 2. Verde */
/* #f2 {
    background-color: rgb(97, 213, 255);
    order: 3;
} */

/* Frame nº 3. Amarillo */
/* #f3 {
    background-color: yellow;
    order:3;
} */

/* #f4 {
    background-color: yellow;
    order:3;
} */

